h1,h2,h3,h4,h5,h6{
    font-family: 'Zen Maru Gothic', serif;

}

p,a,input,label,textarea,span,ul,li,select,.card-header{
    font-family: 'Zen Maru Gothic', serif;
    color: #401E11;
}

.check-out{
    margin: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 5px solid sandybrown;
}

.list-form{
    /* margin-top: 3.75rem;
    margin-bottom: 3.75rem; */

    padding: 2.5rem var(--s, 0px);
    gap: 64px;
}

.card-big-title{
    font-size: 1.25rem;
    color: #401E11;
    font-weight: 500;
    background-color: #FFB44F;
}

.font-grey-title{
    font-size: 1rem;
    color: #6C7275;
    font-weight: 500;
}


.confirm-list-card {
    gap: 1.5rem;
}

.T-18{
    font-weight:400;
    color: #000000;
}

.country-list-gap{
    gap: 24px;
}

.radius-plus-form{
    background-color: #FFE1B8;
}

.img-thumbnail{
    width: 7.5rem;
}

.dollar{
    font-size: 1.25rem;
    font-weight: bold;
}

.extinct-product{
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--neutral-03100, #E8ECEF);
}

.card-padding12{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}